* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #080808;
  --text-color: white;
  --main-color: #e2b561;
}

html {
  background-color: var(--bg-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  padding: 10px 0;
  text-align: center;
  background:linear-gradient(
    270deg,
    #f1f5fa 40%,
    #2e0cec 80%
  ) ;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: var(--bg-color);
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#about, #projects, #contact {
  background: linear-gradient(
    270deg,
    #f3f3f5 40%,
    #482cc5 100%
  );
  padding: 20px;
  border-radius: 10px;
}

.project {
  margin: 15px;
}

footer {
  background: linear-gradient(
    270deg,
    #0609cf 40%,
    #0e0c0c 100%
  );
  color: var(--bg-color);
  text-align: center;
  padding: 10px 0;
}

button {
  display: inline-block;
  padding: 1rem 3rem;
  background:linear-gradient(
    270deg,
    #3006a3 40%,
    #14120b 100%
  );
  box-shadow: 0 0 25px #2c0cbb;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: rgb(248, 248, 248);
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px #054ca8,
              0 0 50px #083e91;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 5px;
}

form input, form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #0936b1;
  border-radius: 5px;
}
